{% extends "base_template.html" %}
{% block exchange_menu %}active{% endblock exchange_menu %}
  {% block content %}
  <!-- Page Content -->
  <div class="container" id="exchanges">
      <br/>
    <div class="row">
        <div class="col-lg-12">
            <b-container>
                <b-row>
                    <b-col md="3">
                        <b-button id="filter-btn" variant="success" @click="showFilterModal">Filter Last Exchange Data</b-button>
                    </b-col>
                    <b-col md="7">
                        <b-button id="filter-btn" variant="warning" @click="getExchanges">Reset Exchange Data</b-button>
                    </b-col>
                    <b-col md="2">
                        <b-button id="filter-btn" variant="primary" @click="showApiKeyModal">API KEY</b-button>
                    </b-col>
                </b-row>

                <b-table
                        id="exchange_preview"
                        :items="exchanges"
                        :fields="fields">
                </b-table>
            </b-container>
        </div>
    </div>
    <b-modal ref="filter-modal" hide-footer title="Last Exchange Data">
          <div class="d-block text-center">
              <b-container>
                  <b-alert show variant="info">Note: If you do not specify currency or number the last record will be shown.</b-alert>
                  <b-row>
                      <b-col sm="2">
                          <label>Currency</label>
                      </b-col>
                      <b-col sm="3">
                          <b-form-input id="input-currency" maxlength="3"
                                        onkeyup="this.value = this.value.toUpperCase();" v-model="currency"></b-form-input>
                      </b-col>
                      <b-col sm="1">
                      </b-col>
                      <b-col sm="2">
                          <label>Number</label>
                      </b-col>
                      <b-col sm="3">
                          <b-form-input id="input-number" type="number"
                                        onchange="this.value = parseInt(this.value);" v-model="number"></b-form-input>
                      </b-col>
                  </b-row>
              </b-container>
          </div>
          <br/>
          <div class="d-block text-right">
              <b-button variant="success" @click="filterData">Get Data</b-button>
              <b-button variant="danger" @click="hideFilterModal">Cancel</b-button>
          </div>
    </b-modal>

    <b-modal ref="api-modal" hide-footer title="Open Exchange Rates API Key">
          <div class="d-block text-center">
              <b-container>
                  <b-alert show variant="info">Please provide a valid Key. You can generate one at https://openexchangerates.org</b-alert>
                  <b-row>
                      <b-col sm="3">
                          <label>API KEY *</label>
                      </b-col>
                      <b-col sm="9">
                          <b-form-input id="input-key" v-model="apikey.key"></b-form-input>
                      </b-col>
                  </b-row>
              </b-container>
          </div>
          <br/>
          <div class="d-block text-right">
              <b-button variant="success" @click="saveApi">Save</b-button>
              <b-button variant="danger" @click="hideAPIModal">Cancel</b-button>
          </div>
      </b-modal>
  </div>

  {% endblock content %}

  {% block js %}
  <script type="text/javascript">
      Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
      new Vue({
          el: '#exchanges',
          delimiters: ['[[', ']]'],
          data: {
              fields: [
                  { key: 'requested_currency', label: 'Requested Currency', sortable: true},
                  { key: 'requested_amount', label: 'Requested Amount'},
                  { key: 'currency_change', label: 'Exchange Rate' },
                  { key: 'result_amount', label: 'Returned Amount' },
                  { key: 'time_request', label: 'Requested at', sortable: true }
              ],
              sortBy: null,
              sortDesc: false,
              exchanges: [],
              showFilter: false,
              currency: null,
              number: null,
              apikey: {'key':null},
          },
          methods: {
              getExchanges: function() {
                  var url = "/api/exchangeRequest";
                  this.$http.get(url).then((response) => {
                      this.exchanges = response.data;
                    })
              },

              formatValue(value, precision) {
                  var val = (value/1).toFixed(precision);
                  return val.toString();
              },

              showFilterModal() {
                  this.$refs['filter-modal'].show()
              },

              hideFilterModal() {
                  this.$refs['filter-modal'].hide();
                  this.currency = null;
                  this.number = null;
              },

              filterData(){
                  var values = [this.currency, this.number];
                  if (values[0] != null && values[1] != null){
                      var url = "/api/exchangeRequest/last_currency/?currency="+values[0]+"&count="+values[1];
                      this.$http.get(url).then((response) => {
                          this.exchanges = response.data;
                          this.hideFilterModal();
                      });
                  }
                  if (values[0] != null && values[1] == null){

                      var url = "/api/exchangeRequest/last_currency/?currency="+values[0];
                      this.$http.get(url).then((response) => {
                          this.exchanges = response.data;
                          this.hideFilterModal();

                      });
                  }
                  if (values[0] == null && values[1] != null){
                      var url = "/api/exchangeRequest/last_currency/?count="+values[1];
                      this.$http.get(url).then((response) => {
                          this.exchanges = response.data;
                          this.hideFilterModal();
                      });
                  }
                  if (values[0] == null && values[1] == null){
                      var url = "/api/exchangeRequest/last_currency";
                      this.$http.get(url).then((response) => {
                          if(response.data != {}){
                              this.exchanges = response.data;
                          }
                          this.hideFilterModal();
                      });
                  }
              },

              showApiKeyModal() {
                  this.$refs['api-modal'].show()
              },

              hideAPIModal(){
                  this.$refs['api-modal'].hide();
                  this.apikey.key = null;
              },

              saveApi(){
                  if(this.apikey.key != null && this.apikey.key.trim() != ""){
                      this.$http.post('/api/apikey/',this.apikey)
                          .then((response) => {
                              this.hideAPIModal();
                          })
                  }
              }

          },
          mounted: function () {
              this.getExchanges();
          }
      })

  </script>
  {% endblock js %}
</body>

</html>
