{% extends "base_template.html" %}
{% block request_menu %}active{% endblock request_menu %}
  {% block content %}
  <!-- Page Content -->
  <div class="container" id="exchanges">
      <br/>
    <div class="row">
        <b-card-group deck>
            <b-card header-tag="header">
                <h6 slot="header" class="mb-0"><strong>Convert to USD</strong></h6>
                <b-row>
                    <b-col sm="3">
                        <b-form-input v-model="amount" placeholder="Amount" type="number"></b-form-input>
                    </b-col>
                    <b-col sm="3">
                        <b-form-input v-model="currency" placeholder="Currency" maxlength="3"
                                      onkeyup="this.value = this.value.toUpperCase();"></b-form-input>
                    </b-col>
                    <b-button variant="primary" @click="convertAmount">Convert</b-button>
                </b-row>
                <br/>
                <b-alert show style="display: none" id="id_alert">Currency not found</b-alert>
                <b-row>
                    <b-col sm="6">
                        <b-input-group size="lg" prepend="USD">
                            <b-form-input :readonly="true" v-model="converted_amount" id="id_converted_amount"></b-form-input>
                        </b-input-group>
                    </b-col>
                    <b-col sm="6">
                        <b-input-group size="lg" prepend="RATE:">
                            <b-form-input :readonly="true" v-model="current_rate" id="id_current_rate"></b-form-input>
                        </b-input-group>
                    </b-col>
                </b-row>
            </b-card>
        </b-card-group>
    </div>
  </div>

  {% endblock content %}

  {% block js %}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
      Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
      new Vue({
          el: '#exchanges',
          delimiters: ['[[', ']]'],
          data: {
              amount: null,
              currency: null,
              converted_amount: '0.00',
              current_rate: '0.00',
          },
          methods: {
              getExchanges: function() {
                  var url = "/api/exchangeRequest";
                  this.$http.get(url).then((response) => {
                      this.exchanges = response.data;
                    })
              },

              formatValue(value, precision) {
                  var val = (value/1).toFixed(precision);
                  return val.toString();
              },

              convertAmount(){
                  $('#id_converted_amount')[0].value = 0.00;
                  $('#id_converted_amount')[0].value = 0.00;
                  $('#id_alert')[0].style.display = "none";
                  if(this.currency != null && this.currency.trim() != "" && this.amount != null){
                      $.ajax({
                          type: 'POST',
                          data: "currency="+this.currency+"&amount="+this.amount,
                          url: '/api/exchangeRequest/convert/',
                          success: function(res){
                              var res_json = JSON.parse(res);
                              if(res_json['status'] == 200){
                                  $.ajax({
                                      type: 'GET',
                                      url: '/api/exchangeRequest/last_currency',
                                      success: function(response){
                                          $('#id_converted_amount')[0].value = response[0]['result_amount'];
                                          $('#id_current_rate')[0].value = response[0]['currency_change'];
                                      },
                                      error: function(error) {
                                          callbackErr(error,self)
                                      }
                                  })
                              }
                              if(res_json['status'] == 400){
                                  $('#id_alert')[0].style.display = "block";
                              }
                          },
                          error: function(error) {
                              callbackErr(error,self)
                          }
                      });
                  }
              }

          },
          mounted: function () {
              this.getExchanges();
          }
      })

  </script>
  {% endblock js %}
</body>

</html>
